<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div>
      <h1><a class="headline-link" href="https://www.rupertarnold.com">Roypert</a></h1>
      <span class="subheadline"> (Rupert Arnold Hoffschmidt)</span>
    </div>

    <img src="http://rupertarnold.com/images/r_kopf.jpg" width="125px" alt="Ruperts Gesicht" class="float"/>

    <!-- <header>
    </header> -->
    <div class="content">
      {{ content }}
    </div>
    <footer>
    </footer>
  </body>
</html>
