<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div>
      <h1><a class="headline-link" href="https://www.rupertarnold.com">Rupert Arnold Hoffschmidt</a></h1>
    </div>

    <img src="http://rupertarnold.com/images/r_kopf.jpg" alt="Ruperts Gesicht" class="float"/>

    <div class="content">
      {{ content }}
    </div>
    <footer>
    </footer>
  </body>
</html>
